.history_container{
    width: 90%;
    height: auto;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 15px;
    margin: 50px 0 0 6%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);  
}
.history_title{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 20px;
}
.history_search_delete{
    display: flex;
    margin-left: 20px;
}
.search_form_history {
    display: flex;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    width: 230px;
    border-radius: 20px;
    border: 0 solid #646464;
    margin-right: 10px;
  }

input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-weight: 400;
    width: 200px;
    height: 36px;
  }

  button[type="submit"] {
    margin-top: 3px;
    background: none;
    border: none;
  }
  button[type="submit"] img {
    height: 20px;
    width: 20px;
  }

.clear_history p{
    color: var(--red);
    font-weight: 500;
    margin-left: 525px;
  }

.clear_history p:hover{
    cursor: pointer;
  }

.table_history_container{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 870px;
    border-radius: 20px;
    border: 1px solid #646464;
    
  }

.table_history{
    text-align: center;
  }

.table_history th{
  border-right: 1px;
  border-style: solid;
  border-color: var(--gray);
  border-collapse: collapse;
}

.table_history th:last-child{
  border-right: none;
}

.table_history td{
  font-weight: 400;
  padding: 10px 0;
  border-right: 1px;
  border-top: 1px;
  border-style: solid;
  border-color: var(--gray);
  border-collapse: collapse;
}  
.table_history td:last-child{
  border-right: none;
}
.table_history_title_row{
    background-color: var(--blue-soft);
}

.delete_btn_table_history{
    color: var(--red);
}

.delete_btn_table_history:hover{
  cursor: pointer;
}